name: Quarto Publish

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      R_LIBS_USER: ${{ runner.temp }}/R/${{ runner.os }}/library

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-packages-${{ hashFiles('**/*.qmd') }}
          restore-keys: |
            ${{ runner.os }}-r-packages-

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3'

      - name: Install R packages
        run: |
          install.packages(c(
            "scales","here","fs","readxl","writexl","tidyverse",
            "magrittr","broom","gridExtra","ggpmisc","rlang",
            "xfun","usethis","devtools","lubridate","ggdark","knitr","rmarkdown"
          ))

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: '1.6.3'

      - name: Render Quarto site
        uses: quarto-dev/quarto-actions/render@v2
        with:
          path: .
          to: _site

      - name: Deploy to GitHub Pages
        uses: peaceiris/a
